<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Index page</title>
   <link rel="stylesheet" href="./css/style.css">
 </head>
 <body>
   <%- include('header.ejs') %>

   <h2>Overdue (<%= overdueTodos.length %>)</h2>
   <table>
     <%- include('todos.ejs', { todos: overdueTodos }) %>
   </table>

   <h2>Due Today (<%= dueTodayTodos.length %>)</h2>
   <table>
     <%- include('todos.ejs', { todos: dueTodayTodos }) %>
   </table>

   <h2>Due Later (<%= dueLaterTodos.length %>)</h2>
   <table>
     <%- include('todos.ejs', { todos: dueLaterTodos }) %>
   </table>

 </body>
</html>
