<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
     <title>TO-DO Manager</title>
     <meta name="csrf-token" content="<%= csrfToken %>"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="./css/style.css">
   <script>
     var token = document
     .querySelector('meta[name="csrf-token"]')
     .getAttribute('content')

    function updateTodo (id) {
      fetch(`/todos/${id}/markAsCompleted`, {
      method: "put",
      headers: { "Content-Type": "application/json"},
      body: JSON.stringify({
      '_csrf':token
    })
    }).then((res) => {
      if (res.ok){
        window.location.reload();
      }
    })
    .catch((err) => console.error(err));
    }
    function deleteTodo(id){
      fetch(`/todos/${id}`,{
        method:'delete',
        headers:{'Content-Type':"application/json"},
        body: JSON.stringify({
      '_csrf':token
    })
      })
      .then((res) => {
      if (res.ok){
        window.location.reload();
      }
    })
    .catch((err) => console.error(err));
    }
  
    </script>
 </head>
 <body>
  
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header.ejs') %>
  <form method="POST" action="/todos">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <div class="flex gap-2 py-4">
      <div class="flex-auto w-64">
        <input type="text" name="title" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2" placeholder="What's next?" autofocus required>
      </div>
      <div class="flex-auto w-32">
        <input type="date" name ="dueDate" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4	">
      </div>
      <div class="flex-none">
        <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2">Add</button>
      </div>            
     </div>
    </form>
    <div class="mt-2">  
      <%- include('todos.ejs', { title:"Overdue",todos: overdueTodos }) %>
      <%- include('todos.ejs', { title:"Due Today",todos: dueTodayTodos }) %>
      <%- include('todos.ejs', { title:"Due Later",todos: dueLaterTodos }) %>
    </div> 
  </div>
</div>
 </body>
</html>
