<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
     <title>TO-DO Manager</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
   <link rel="stylesheet" href="./css/style.css">
   <script>
     var token = document
     .querySelector('meta[name="csrf-token"]')
     .getAttribute('content')
     console.log("CSRF Token:", token);
    function updateTodo (id,completed) {
      fetch(`/todos/${id}`, {
      method: "put",
      headers: { "Content-Type": "application/json"},
      body: JSON.stringify({
        completed:completed,
      '_csrf':token
    })
    }).then((res) => {
      if (res.ok){
        window.location.reload();
      }
    })
    .catch((err) => console.error(err));
    }
    async function deleteTodo(id){
      await fetch(`/todos/${id}`,{
        method:'delete',
        headers:{'Content-Type':"application/json"},
        body: JSON.stringify({
      '_csrf':token
    })
      })
      .then((res) => {
      if (res.ok){
        window.location.reload();
      }
    })
    .catch((err) => console.error(err));
    }
    fetch('/todos', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'CSRF-Token': token  // Adding CSRF token to the request header
    },
    body: JSON.stringify({ title: 'New Todo' })
});
  
    </script>
 </head>
 <body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header.ejs') %>
      <a href="/signout">Signout</a>
      <p class="py-2">Welcome to To-do Manager</p>
      <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
      <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-in</a></p>
      <form method="POST" action="/todos">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="flex gap-2 py-4">
          <div class="flex-auto w-64">
            <input type="text" name="title" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2" placeholder="What's next?" autofocus required>
          </div>
          <div class="flex-auto w-32">
            <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4">
          </div>
          <div class="flex-none">
            <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2">Add</button>
          </div>
        </div>
      </form>
      <% console.log('CSRF Token:', csrfToken); %>

      <div class="mt-2">
        <%- include('todos.ejs', { title: "Overdue", todos: overdue }) %>
        <%- include('todos.ejs', { title: "Due Today", todos: dueToday }) %>
        <%- include('todos.ejs', { title: "Due Later", todos: dueLater }) %>
        <%- include('todos.ejs', { title: "Completed Items", todos: completed }) %>
      </div>
    </div>
  </div>
</body>
</html>
